html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'font', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.logo-skillbox {
    margin-bottom: 50px;
}
/* .link-modules
{
    margin-bottom: 50px;
}

.link-indents {
    margin-bottom: 50px;
    padding: 24px 49px;

} */
/* .inline-block {
    
} */

.links{
    margin-bottom: 50px;
    padding: 24px 49px;
    
    display: inline-block;
}
.links:not(:last-child){
    margin-bottom: 0px; 
    margin-right: 25px;     
   
    display: inline-block;
}
img {
    width: 100%;
  }