html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.skillbox-logo{
    display: block;
    margin-bottom: 50px;
}

.link-modules{
    display: inline-block;
    margin-bottom: 50px;  
    padding: 24px 49px;
}
.link-indents{
    display: inline-block;
    margin-bottom: 50px;  
    padding: 24px 49px;
}
a {
	color: inherit;
	text-decoration: none;
}
.a:not(:last-child)
{
    margin-right: 25px;
}

